[Unit]
Description=Properties by Magni Frontend Service
After=network.target

[Service]
User=raspberrypi
Group=raspberrypi
WorkingDirectory=/opt/properties-by-magni/frontend
Environment="PORT=5000"
Environment="HOST=0.0.0.0"
Environment="ORIGIN=https://propertiesbymagni.com"
ExecStart=/usr/bin/node build/index.js
Restart=always
RestartSec=10
StandardOutput=append:/var/log/frontend.log
StandardError=append:/var/log/frontend.log
SyslogIdentifier=properties-by-magni-frontend

[Install]
WantedBy=multi-user.target
