[Unit]
Description=Properties by Magni Frontend Service
After=network.target

[Service]
User=raspberrypi
Group=raspberrypi
WorkingDirectory=/opt/properties-by-magni
ExecStart=/usr/bin/npm run dev -- --port 5000
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=properties-by-magni-frontend

[Install]
WantedBy=multi-user.target
