[Unit]
Description=Fundvís Frontend Service
After=network.target

[Service]
User=raspberrypi
Group=raspberrypi
WorkingDirectory=/opt/properties-by-magni/frontend
EnvironmentFile=/opt/properties-by-magni/.env
Environment="PORT=5000"
Environment="HOST=0.0.0.0"
Environment="ORIGIN=https://fundvis.is"
ExecStart=/usr/bin/node build/index.js
Restart=always
RestartSec=10
StandardOutput=append:/var/log/frontend.log
StandardError=append:/var/log/frontend.log
SyslogIdentifier=fundvis-frontend

[Install]
WantedBy=multi-user.target
